body, html{
    overflow-y: hidden;
}

#title #word1, #title #word2{
    float:left;
}

#menu_wrap{
    float: left;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



.cent_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cent{
    text-align: center;
}

/** fonts **/
.bigtitle{
    /**    font-size: 100px;**/
    font-size: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#word1, #word2{
    font-weight: 100;

}

.bigtitle div{
    padding: 0 40px;
}

.bigtitle div:not(:last-child){
    padding-right: 30px;
}

.menu_item{
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

a,a:visited{
    text-decoration: none;
    color: inherit;

}
