
html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background: black;
}

body::after {
    content: "";
    background: url('../src/bg.png');
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -10;
    -webkit-filter: grayscale(100%) invert(100%) blur(0px); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) invert(100%) blur(0px);

}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
